@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased text-slate-700 bg-slate-50;
  }
}

@layer components {
  /* Input and Select style */
  .input-base {
    @apply w-full rounded-lg border border-slate-300 bg-white shadow-sm transition-all duration-200 ease-in-out;
    @apply placeholder:text-slate-400 focus:border-primary-500 focus:ring-4 focus:ring-primary-500/10;
    @apply focus:outline-none; 
  }
  
  /* Buttons style */
  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-2 bg-primary-600 text-white text-sm font-medium rounded-lg shadow-sm transition-all hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 disabled:opacity-70 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  /* fix for select dropdowns */
  .appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none !important; /* this removes the blue arrow */
    margin: 0; /* Reset margins */
  }
}